<div id="<%= dom_id group %>">
  <p>
    <%= image_tag group.icon, style: 'height:24px;' %>
  </p>

  <p>
    <%= group.name %>
  </p>

  <p>
    <strong>$<%= group.performance.sum{ |performance| performance.amount } %></strong>
  </p>

</div>
