<p style="color: green"><%= notice %></p>

<h1>Your budget</h1>

<div id="groups">
  <% @groups.includes([:performance]).each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show all elements from this group", group_performances_path(group.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
