<div class="splash_page">
  <h1 class="app_name">SUPER BUDGET APP</h1>

  <div class="main_sign_in">
    <%= button_to "LOG IN", user_session_path, method: :get, form_class: 'form_log_in', class: 'main_log_in' %>

    <%= button_to "SIGN UP", new_user_registration_path, method: :get, form_class: 'form_log_in', class: 'main_sign_up' %>
  </div>
</div>
