/*
 *= require font-awesome
 */

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Bold.otf');
  font-family: 'Proxima Nova Light';
  src: url('Proxima Nova Alt Light.otf');
}

:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
}

body {
  margin: 0;
}

.app {
  width: 500px;
  margin: 0 auto;
  height: 750px;
  background-color: rgb(237, 237, 237);
}

.app_name {
  text-align: center;
  color: var(--text);
  margin-top: auto;
  font-family: "Proxima Nova Bold", sans-serif;
}

.main_sign_in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: 48px;
}

.form_log_in {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_log_in {
  width: 90%;
  height: 48px;
  background-color: var(--main);
  color: rgb(237, 237, 237);
  border: none;
  border-radius: 5px;
}

.main_sign_up {
  width: 90%;
  height: 48px;
  background-color: rgb(237, 237, 237);
  color: var(--text);
  border: none;
  margin-top: 12px;
}

.splash_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navbar_login {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  background-color: var(--main);
  color: rgb(237, 237, 237);
  height: 64px;
  margin-bottom: 48px;
}

i {
  color: rgb(237, 237, 237);
  margin-left: 12px;
}

h2 {
  text-align: center;
  margin: 0 auto;
  font-family: "Proxima Nova Light", sans-serif;
}

.login_actions {
  margin: 0 12px 0 auto;
}

.login_button {
  background-color: var(--main);
  color: rgb(237, 237, 237);
  border: none;
  font-size: 20px;
  font-family: "Proxima Nova Light", sans-serif;
}

.session_input {
  width: 95%;
  height: 48px;
  margin: 0;
  border: 1px solid rgb(207, 204, 204);
  padding: 0 12px;
}

.forgot_password {
  text-decoration: none;
  color: rgb(147, 147, 147);
  font-family: "Proxima Nova Light", sans-serif;
}

.group {
  background-color: #fff;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.group_icon {
  margin-left: 12px;
}

.group_name {
  font-size: 28px;
  font-family: "Proxima Nova Light", sans-serif;
  color: rgb(147, 147, 147);
  margin: 0 auto;
}

.group_amount {
  margin: 0 12px 0 auto;
  font-size: 24px;
}

.group_transactions {
  width: 200px;
  height: 36px;
  background-color: var(--main);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group_transactions a {
  text-decoration: none;
  color: rgb(237, 237, 237);
  border: none;
  font-family: "Proxima Nova Light", sans-serif;
}

.new_group {
  width: 100%;
  height: 100px;
  background-color: var(--second);
  margin: auto 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_group a {
  color: rgb(237, 237, 237);
  text-decoration: none;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(237, 237, 237);
  font-family: "Proxima Nova Bold", sans-serif;
}

.transactions_page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Flaticon {
  margin-left: 12px;
}

.Flaticon a {
  color: var(--second);
  font-family: "Proxima Nova Light", sans-serif;
}

.save_div {
  width: 100%;
  display: flex;
}

.save_button {
  width: 200px;
  height: 36px;
  margin: 24px auto;
  background-color: var(--main);
  color: rgb(237, 237, 237);
  border-radius: 5px;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
}

#performances {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 5%;
  color: var(--text);
}

h3 {
  text-align: center;
  font-size: 28px;
}

.performance {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 12px;
}

.performances_page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chose_groups {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  margin: 0 5%;
}

.chose_group {
  margin: auto;
}
