<div id="<%= dom_id performance %>">
  <p>
    <strong>Name:</strong>
    <%= performance.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= performance.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= performance.user_id %>
  </p>

</div>
