<h1>Editing performance</h1>

<%= render "form", performance: @performance %>

<br>

<div>
  <%= link_to "Show this performance", @performance %> |
  <%= link_to "Back to performances", performances_path %>
</div>
