<div>
  <%= link_to group_performances_path do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <% end %>
</div>

<h1>New Item</h1>

<%= render "form", performance: @performance %>

<br>

<div>
  <%= link_to "Back to performances", group_performances_path %>
</div>
